
<!--<link rel="stylesheet" type="text/css" href="crazylady.css">-->
<div class="row">
    <div class="col-lg-4">
        <h2>Accessories</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="app/img/speakers.jpg" height="150" width="150"/>
        <img src="app/img/ferrari.jpg" height="150" width="150"/>
        <img src="app/img/glow.gif" height="150" width="150"/>
        <img src="app/img/Jon-Stewart-mind-blown.gif" height="150" width="150"/>
        <div class="text">
            <h4>Speakers- These speakers are so booming they will blow your mind out!</h4>
        </div>
    </div>
    <div class="col-lg-12">
        <img src="app/img/seats.jpeg" height="150" width="150"/>
        <img src="app/img/lambocutter.jpg" height="150" width="150"/>
        <img src="app/img/dog-driving.gif" height="150" width="150"/>
        <div class="text">
        <h4>Seats- These seats are so comfy you will want to live in your car... But dont forget to get gas!</h4>
        </div>
    </div>
    <div class="col-lg-12">
        <img src="app/img/power-extension.jpeg" height="150" width="150"/>
        <img src="app/img/crazy-lady-with-pot-on-her-head.jpg" height="150" width="150"/>
        <img src="app/img/giphy.gif" height="150" width="150"/>
        <div class="text">
            <h4>Power Extension- You will be granted with power extension in your life!</h4>
        </div>
    </div>

</div>