
    <div class="row">
          <h2>About Us</h2>
          <div class="clearfix">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris. Cras elit nisl, rhoncus nec iaculis ultricies, feugiat eget sapien. Pellentesque ac felis tellus. Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id. Duis placerat justo eu nunc interdum ultrices.</p>
            <h3>Our Address</h3>
            <p>586 Main Ave, Building 42<br />
              Main City, Country 12345-6789</p>
            <p>Telephone: (555) 123 - 4567<br />
              Fax: (555) 523 - 4567</p>
            <p>Website: <a href="#">http://www.domain.com</a><br />
              Email: <a href="#">myemail@domain.com</a></p>
          </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Map and Directions</h3>
            <hr style="border:none;background-color:#cccccc;color:#cccccc;height:1px;">
            <div>
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=45.504347,-122.680089&zoom=12&size=400x300&markers=color:blue%7C45.504347,-122.680089">
            </div>
            <button type="button" class="btb btn-info" style="margin-top: 15px; width: 400px;">
                Get Directions
            </button>
        </div>
        <div class="col-md-6">
            <h3>Latest News</h3>
            <hr style="border:none;background-color:#cccccc;color:#cccccc;height:1px;">
            <h4>03/15/11</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#/home">&nbsp;More...</a></p>
            <h4>02/21/11</h4>
            <p>Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis. <a href="#/home">More...</a></p>
            <h4>01/15/11</h4>
            <p>Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis. <a href="#/home">More...</a></p>
        </div>
    </div>

